* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

/* main area */
#main-area {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

/* Column */
.column {
  width: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
img {
  width: 100%;
  border-radius: 10px;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .column {
    width: calc(50% - 1rem);
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .column {
    width: calc(25% - 1rem);
  }
}
