* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
}

/* Header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #353434;
  border-bottom: 2px solid #e8491d;
}
.logo {
  font-size: 2rem;
  color: white;
  width: 40%;
}
nav {
  width: 40%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
  font-size: 1.25rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
.current {
  color: #e8491d;
}

/* Hero Section */
#hero-section {
  position: relative;
  padding: 3rem;
  color: white;
  height: 40vh;
}
.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-image: url(ComputerBG.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
.bg-dark {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgba(36, 36, 36, 0.5);
}
.content h1 {
  font-size: 2.25rem;
}
.content p {
  margin-top: 1rem;
  font-size: 1.25rem;
}

/* Newsletter Section */
#newsletter {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #353434;
}
#newsletter h2 {
  color: white;
  font-size: 1.75rem;
}
#newsletter button{
  height: 2.25rem;
  font-size: 1rem;
  background-color: #e8491d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}
#newsletter input{
  height: 2.25rem;
  font-size: 1rem;
  padding: 0.5rem;
}

/* Services */
#services {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-evenly;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box p {
  text-align: center;
}
.box i {
  font-size: 5rem;
}
.fa-html5{
  color: #E5532D;
}
.fa-css3-alt{
  color: #0874BC;
}
.fa-node-js{
  color: #8ED11E;
}

/* Footer */
footer{
  position: fixed;
  bottom: 0px;
  padding: 2rem;
  background-color: #e8491d;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5rem;
} 